*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100%;
    padding: 5%;
}
.search{
    width: 13px;
    min-height: 1px;
    padding: 5%;
}